:root {
  --font-color: #222;
  --submit-color: #eee;
  --button-color: #222;
  --border-color: #444;
  --background-color: #eee;
}

[data-theme='dark'] {
  --font-color: #eee;
  --submit-color: #222;
  --button-color: #eee;
  --border-color: #bbb;
  --background-color: #222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease-in;
  font-family: 'Jua', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.note-app__header {
  padding: 18px;
  border-bottom: 2px solid;
  border-color: var(--border-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 18px;
  font-size: x-large;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--button-color);
}

.logout-button,
.locale-button,
.theme-button {
  margin-left: 18px;
  display: flex;
  align-items: center;
  font-size: x-large;
}

section {
  margin: 18px;
  border: 2px solid;
  border-radius: 18px;
  border-color: var(--border-color);
  padding: 18px;
}

h2 {
  color: var(--font-color);
  font-size: larger;
}

p {
  font-size: smaller;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 12px;
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: 12px;
  background-color: var(--background-color);
  padding: 12px;
  color: var(--font-color);
}

.note-input__character-limit {
  color: var(--border-color);
  text-align: right;
  margin-bottom: 6px;
}

.note-input__body {
  height: 120px;
  margin-top: 12px;
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: 12px;
  background-color: var(--background-color);
  padding: 12px;
}

button {
  border: none;
  background-color: transparent;
  color: var(--button-color);
}

button:hover {
  cursor: pointer;
}

.submit-button {
  margin-top: 18px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--button-color);
  color: var(--submit-color);
  padding: 12px;
}

.register-login-link {
  margin-top: 18px;
}

.register-login-link a {
  color: var(--font-color);
}

.search-bar {
  width: 100%;
  margin-top: 18px;
}

.note-list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: 12px;
  padding: 18px;
}

.note-item__title a {
  text-decoration: none;
  color: var(--font-color);
}

.note-item__date {
  margin-top: 12px;
  color: var(--border-color);
}

.note-item__body {
  margin-top: 12px;
}

.note-item__action {
  display: flex;
  justify-content: right;
}

.archive-button,
.delete-button {
  margin-top: 18px;
  margin-left: 12px;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  color: var(--button-color);
  font-size: x-large;
}

.loading-message,
.empty-message {
  margin-top: 18px;
  text-align: center;
  color: var(--border-color);
}

.not-found__message {
  text-align: center;
}

@media (max-width: 600px) {
  .note-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .note-list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }

  nav h2,
  nav ul {
    margin-top: 12px;
  }
}
