* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jua', sans-serif;
}

#root {
  background-color: eee;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  padding: 18px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 18px;
  font-size: x-large;
}

nav a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
}

section {
  margin: 18px;
  border: 2px solid gray;
  border-radius: 18px;
  padding: 18px;
}

h2 {
  color: darkgreen;
}

p {
  font-size: small;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px;
}

.note-input__character-limit {
  color: gray;
  text-align: right;
  margin-bottom: 6px;
}

.note-input__body {
  height: 120px;
  margin-top: 12px;
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px;
}

button {
  margin-top: 18px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.submit-button {
  width: 100%;
  border-radius: 12px;
  background-color: darkgreen;
  color: white;
  padding: 12px;
}

.search-bar {
  width: 100%;
  margin-top: 18px;
}

.note-list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 12px;
  padding: 18px;
}

.note-item__title a {
  text-decoration: none;
  color: black;
}

.note-item__date {
  margin-top: 12px;
  color: gray;
}

.note-item__body {
  margin-top: 12px;
}

.note-item__action {
  display: flex;
  justify-content: right;
}

.archive-button {
  display: flex;
  align-items: flex-end;
  background-color: white;
  color: darkorange;
  font-size: x-large;
}

.delete-button {
  margin-left: 12px;
  display: flex;
  align-items: flex-end;
  background-color: white;
  color: darkred;
  font-size: x-large;
}

.empty-message {
  margin-top: 18px;
  text-align: center;
}

.not-found__message {
  text-align: center;
}

@media (max-width: 600px) {
  .note-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .note-list {
    display: flex;
    flex-direction: column;
  }
}
